[submodule "nvs_libraries"]
	path = nvs_libraries
	url = https://github.com/nvssynthesis/nvs_libraries.git
[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "juce_utils"]
	path = juce_utils
	url = https://github.com/nvssynthesis/juce_utils.git
[submodule "juce-MultiStepEnvelopeGenerator"]
	path = juce-MultiStepEnvelopeGenerator
	url = https://github.com/nvssynthesis/juce-MultiStepEnvelopeGenerator.git
